@import 'globals';

.poster {

  display: flex;
  flex-flow: column;
  align-items: center;

  &__title {
    font-weight: bold;
  }

  &__item {
    margin-bottom: 1em;
    width: 100%;
  }

  &__textarea {
    height: 9em;
    padding: 7px;
    color: #878484;
  }

  &__notice {
    font-weight: bold;
    font-size: 12px;
  }

  &__text {
    font-size: 12px;
  }

  &__strong {
    font-weight: bold;
    color: $medium-grey-font-color;
    text-decoration: none;
  }

  &__upload_file_field {
    display: none;
  }

  &__wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
}
