@import 'globals';

.subnav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid $grey-font-color;
  margin: 1em 0 1.5em 0;
  padding: 0 87px 1em 87px;

  // default
  &__list-item {
    list-style: none;
    display: inline-block;
    border-radius: 17px;
    padding: 5px 40px;
  }

  &__link {
    text-decoration: none;
    color: #606060;
    font-size: 15px;
    white-space: nowrap;
  }

  // active
  &__list-item--active {
    background-color: $grey-font-color;

    .subnav__link {
      color: white;
    }
  }

}


